@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareR.otf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --size-font-main: 4vh;
  --size-font-sub: 3vh;
  --size-font-small: 2vh;
}

body {
  background-color: #000000;
}

.container-page {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.wrapper-maintext {

}
.wrapper-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

p.main {
  font-size: var(--size-font-main);
  font-family: 'NanumSquare';
  color: white;
}

p.small {
  font-size: var(--size-font-small);
  font-family: 'NanumSquare';
  color: #666666;
  position: absolute;
  bottom: 0;
}

p.left {
  text-align: left;
  left: 0;
}

p.center {
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

p.right {
  text-align: right;
  right: 0;
}

li.main {
  font-size: var(--size-font-sub);
  font-family: 'NanumSquare';
  color: #999999;
}
