@font-face {
  font-family: 'NanumSquare';
  src: url('NanumSquareR.otf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --size-font-header: 6vh;
  --size-font-main: 4vh;
  --size-font-sub: 3vh;
  --size-font-small: 2vh;
}

body {
  background-color: #000000;
}
section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

section.default {
  color: white;
}

section.alert {
  background-color: white;
  color: black;
}

section.warning {
  background-color: #036635;
  color: white;
}

.container-content {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
}

.wrapper-maintext {

}
.wrapper-footer {
  position: absolute;
  bottom: 10%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  visibility: hidden;
}

h1 {
  font-size: var(--size-font-header);
  font-family: 'NanumSquare';
}

p.main {
  font-size: var(--size-font-main);
  font-family: 'NanumSquare';
}

p.small {
  font-size: var(--size-font-small);
  font-family: 'NanumSquare';
  color: #999999;
  position: absolute;
  bottom: 0;
}

p.left {
  text-align: left;
  left: 0;
}

p.center {
  text-align: center;
  left: 50%;
  transform: translate(-50%);
}

p.right {
  text-align: right;
  right: 0;
}

li.main {
  font-size: var(--size-font-sub);
  font-family: 'NanumSquare';
  color: #999999;
}
